ADMIN_PASSWORD=123
BODY_SIZE_LIMIT=100M
CONTENT_DIR=/app/storage

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=Maria Hoogland <info@mariahoogland.nl>
EMAIL_TO=info@mariahoogland.nl

PUBLIC_SITE_URL=https://mariahoogland.nl
