@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary:           #00ffff;
  --color-textcolor:           #000;
  --color-secondary:         #555555;
}
